// Cores Básicas
$primary-color: #6c5ce7;
$secondary-color: #a29bfe;
$dark-color: #2d3436;
$light-color: #f8f9fa;
$text-color: #636e72;
$white: #ffffff;

// Tipografia
$font-main: 'Poppins', sans-serif;

// Dimensões e Alinhamentos
$header-height: 4.5rem;
$base-spacing: 5rem; // Espaçamento padrão das seções
